html {
    background: linear-gradient(#007BFF, black);
    min-height: 100%;
    position: relative;
}
.header-container {
    position: relative;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center; /* Center items horizontally */
}

h1 {
    font-family: Verdana, sans-serif;
    color: white;
    font-size: 40px;
    margin: 0; /* Remove auto margin to align with logo */
    display: inline-block; /* Ensure h1 is inline with other elements */
    text-align: center;
    position: absolute; /* Position h1 absolutely */
    left: 50%; /* Move h1 to the center */
    transform: translateX(-50%); /* Center h1 exactly */
    margin-top: 20px;
}

.logo {
    margin-top: 20px; /* Add margin around the logo to create space from the edges */
    margin-left: 20px;
    margin-right: 0px;
    height: 50px;
    padding: 0px; /* Add padding to the logo */
    display: inline-block; /* Ensure logo stays inline with other elements */
    position: relative; /* Ensure the logo is positioned relative to its container */
}

* {
    font-family : 'Lucida Sans', Arial, sans-serif;
}

  
body {
    font-family: Arial, sans-serif;
    /* background-color: #f0f0f0; */
    color: #333;
    margin: 0;
    padding: 0;
}

section {
    max-width: 800px;
    margin: 20px auto; /* Reduced space between sections */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top : 5px;
    color : #007BFF;
}

h3 {
    color: #007BFF;
    margin-bottom: 5px; /* Reduced space between h3 and the search box */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
    font-size: 18px;
}

select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
    width: calc(100% - 22px);
    margin-bottom: 10px; /* Reduced space between search box and add button */
}

button[onclick*="removeGesture"], button[onclick*="removeStoredGesture"] {
    background-color: rgb(253, 73, 73);
    padding: 7px 10px;
    font-size: 12px;
    margin-right: 5px;
}
button[onclick*="removeGesture"] {
    margin-right: 10px;
}
button[onclick*="addBackGesture"] {
    background-color: rgb(54, 255, 47);
    padding: 7px 10px;
    font-size: 12px;
    margin-right: 10px;
}

#gesture-accuracy-list {
    padding-left: 20px;
}

#gesture-accuracy-list li {
    font-size: 14px;
}

button[onclick*="recordData"] {
    margin-right: 10px; /* Added space between the record data button and the sample count */
}
.sample-count {
    color: #007BFF;
}